@mixin alert-danger {
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}

@mixin alert-success {
    background-color: #d1e7dd;
    border-color: #badbcc;
    color: #0f5132;
}

.close-icon {
    color: black;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
}

// Animations -->
@keyframes backgroundChange {
    from { background-color: white; }
    to { background-color: #bebebe; }
}

@keyframes zoomPulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}
// <-- animations