@import 'generics';

// ams => AI Mail Support
#amsOuterResponse {
    bottom: 10px;
    display: none;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 80%;
    z-index: 9999;

    &.show {
        display: block;
    }
}

// Style for the shadow DOM
#amsInnerResponse {
    // Any potential chart drawn as a response
    #chart {
        .row {
            align-items: center;
            display: flex;

            + .row {
                margin-top: 10px;
            }

            .label {
                padding-right: 15px;
                width: 120px;
            }

            .bar-wrapper {
                border: 1px solid gray;
                border-radius: 5px;
                position: relative;
                width: 100%;

                &::before {
                    content: attr(data-value);
                    display: block;
                    font-weight: bold;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                }

                .bar {
                    background-color: #4CAF50;
                    height: 20px;

                    &.unsafe-value {
                        background-color: #F44336;
                    }
                }
            }
        }
    }

    &.error #amsContent {
        @include alert-danger;
    }

    &.thinking #amsContent {
        animation: backgroundChange 2s infinite alternate;
        font-weight: bold;
        text-align: center;
    }

    #amsImage {
        bottom: 0;
        max-height: 48px;
        position: absolute;
        right: 0;
    }

    #amsContent {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(black, .5);
        color: black;
        font-size: 14px;
        margin-right: 60px;
        max-height: 50vh;
        overflow-y: auto;
        padding: 15px 35px 15px 25px;

        audio {
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    }

    #amsClose {
        cursor: pointer;
        position: absolute;
        right: 80px;
        top: 10px;
    }
}

@keyframes backgroundChange {
    from { background-color: white; }
    to { background-color: #bebebe; }
}