@use '_generics' as *;

$options-labels-width: 150px;

#optionsForm {
    margin-top: 15px;
    position: relative;

    &.submit-attempt input:invalid,
    &.submit-attempt select:invalid {
        border: 2px solid red;
    }

    #testResult {
        border-radius: 5px;
        left: -200%;
        overflow-x: hidden;
        padding: 10px;
        position: absolute;
        text-align: center;
        bottom: 0;
        text-overflow: ellipsis;
        transform: translateX(-50%);
        transition: left .4s ease;
        z-index: 100;

        &.ok {
            @include alert-success;

            width: 50%;
        }

        &.ko {
            @include alert-danger;

            text-align: left;
            width: 90%;
        }

        &.ok,
        &.ko {
            left: 50%;
        }

        .close-icon {
            right: 5px;
            top: 0;
        }
    }

    #saveOK {
        @include alert-success;

        border-radius: 5px;
        left: -200%;
        padding: 10px;
        position: absolute;
        text-align: center;
        bottom: 0;
        transform: translateX(-50%);
        transition: left .4s ease;
        width: 50%;

        &.show {
            left: 50%;
        }
    }

    #owlForExchangeBug {
        @include alert-danger;

        border-radius: 5px;
        display: none;
        font-size: 13px;
        margin-bottom: 10px;
        padding: 10px;

        &.show {
            display: block;
        }
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        label {
            display: inline-block;
            flex-shrink: 0;
            font-size: 15px;
            padding-right: 5px;
            text-align: right;
            vertical-align: middle;
            width: $options-labels-width;

            .monospace {
                font-family: monospace;
                font-size: 14px;
            }
        }

        input,
        select {
            align-self: center;
            flex-grow: 1;

            &[type="checkbox"] {
                flex-grow: 0;
            }

            & + button {
                margin-left: 10px;
            }
        }

        .full-description {
            font-size: 11px;
            margin-top: 5px;
        }

        .description {
            font-size: 11px;
            margin-top: 5px;
            padding-left: calc($options-labels-width + 10px);

            // Styles for messages that for Groq notify errors
            &.groq-error-api {
                display: none;

                &.show {
                    display: block;
                }
            }

            // Styles for messages that for Ollama notify the user about two scenarios:
            //
            //   1. When an issue occurs during API calls while attempting to list
            //      available models;
            //   2. When no models are found in Ollama.
            &.ollama-error-api,
            &.ollama-warning-no-model {
                display: none;

                &.show {
                    display: block;
                }

                strong {
                    color: red;
                }
            }

            // Style for a warning message that notifies the user about the significant
            // response times of the Ollama model, emphasizing the importance of setting
            // an appropriate timeout.
            &.ollama-warning-timeout {
                display: none;

                body[data-provider='ollama'] & {
                    display: block;
                }

                strong {
                    color: red;
                }
            }

            audio {
                display: inline-block;
                margin: 5px 0 5px;
                width: 100%;
            }
        }

        &.buttons {
            justify-content: center;


            button.test.testing {
                animation: zoomPulse 1s infinite;
            }

            button.save {
                margin-left: 80px;
            }
        }
    }

    fieldset {
        display: none;
        margin-bottom: 15px;

        // The visibility of a nested fieldset depends on the visibility of the parent
        & fieldset {
            display: block;
        }

        // "Lightweight" version of the fieldset, where only the top border is visible
        &.light {
            border-width: 2px 0 0 0;
            margin: 0;
            padding: 10px 0 0 0;
        }

        body[data-provider='anthropic'] &#anthropic,
        body[data-provider='google'] &#google,
        body[data-provider='groq'] &#groq,
        body[data-provider='ollama'] &#ollama,
        body[data-provider='openai'] &#openai,
        body[data-provider='xai'] &#xai {
            display: block;
        }
    }
}