<fieldset id="openai">
    <legend>OpenAI GPT:</legend>

    <div class="form-group">
        <label for="openaiApiKey" data-l10n-ref="options.openai.apiKey">&nbsp;</label>
        <input id="openaiApiKey" is="password-toggle" data-required>
        <div class="description" data-l10n-ref="options.openai.apiKey.description"></div>
    </div>

    <div class="form-group">
        <label for="openaiOrganizationId" data-l10n-ref="options.openai.organizationId">&nbsp;</label>
        <input id="openaiOrganizationId" type="text">
        <div class="description" data-l10n-ref="options.openai.organizationId.description"></div>
    </div>

    <!-- https://platform.openai.com/docs/models/models-overview -->
    <div class="form-group">
        <label for="openaiModel" data-l10n-ref="options.openai.model">&nbsp;</label>
        <select id="openaiModel" data-required>
            <option selected value="gpt-4o-mini">GPT-4o mini</option>
            <option value="gpt-4o">GPT-4o</option>
            <option value="gpt-4-turbo">GPT-4 Turbo</option>
            <option value="gpt-4">GPT-4</option>
            <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
        </select>
    </div>

    <!-- Text 2 Speech -->
    <fieldset class="light">
        <legend data-l10n-ref="options.openai.text2speech"></legend>

        <div class="form-group">
            <label for="openaiText2SpeechAudioQuality" data-l10n-ref="options.openai.text2speech.audioQuality">&nbsp;</label>
            <select id="openaiText2SpeechAudioQuality" data-required>
                <option value="gpt-4o-mini-tts" data-l10n-ref="options.openai.text2speech.audioQuality.ttsgpt4omini"></option>
                <option value="tts-1-hd" data-l10n-ref="options.openai.text2speech.audioQuality.tts1hd"></option>
                <option selected value="tts-1" data-l10n-ref="options.openai.text2speech.audioQuality.tts1"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="openaiText2SpeechVoice" data-l10n-ref="options.openai.text2speech.voice">&nbsp;</label>
            <select id="openaiText2SpeechVoice" data-required>
                <option value="alloy">Alloy</option>
                <option value="ash">Ash</option>
                <option value="coral">Coral</option>
                <option value="echo">Echo</option>
                <option value="fable">Fable</option>
                <option value="nova">Nova</option>
                <option selected value="onyx">Onyx</option>
                <option value="sage">Sage</option>
                <option value="shimmer">Shimmer</option>
            </select>

            <div id="openaiText2SpeechVoicePreview" class="description">
                <audio controls preload="none" src="https://cdn.openai.com/API/docs/audio/alloy.wav"></audio>

                <div data-l10n-ref="options.openai.text2speech.voice.description"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="openaiText2SpeechSpeed" data-l10n-ref="options.openai.text2speech.speed">&nbsp;</label>
            <input id="openaiText2SpeechSpeed" data-required type="range" min="0.25" max="4" value="1" step="0.25">
        </div>
    </fieldset><!-- /Text 2 Speech -->
</fieldset>