<fieldset id="ollama">
    <legend>Ollama:</legend>

    <!-- https://ollama.com/library -->
    <div class="form-group">
        <div class="full-description" data-l10n-ref="options.ollama.description"></div>
    </div>

    <div class="form-group">
        <label for="ollamaModel" data-l10n-ref="options.ollama.model">&nbsp;</label>
        <select id="ollamaModel" data-required></select>
        <button id="ollamaListModel" data-l10n-ref="options.ollama.listModelsButton">&nbsp;</button>

        <div class="description ollama-error-api" data-l10n-ref="options.ollama.errorApi"></div>
        <div class="description ollama-warning-no-model" data-l10n-ref="options.ollama.warningNoModel"></div>
    </div>
</fieldset>